@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v12/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/roboto/v12/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v12/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2'), url(https://fonts.gstatic.com/s/roboto/v12/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v12/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/roboto/v12/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Roboto, 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #ddd;
    background-color: #000;
    margin: 0;
    padding: 0;
}

#waiting-container,
#waiting-container-backdrop,
.waiting > #video-player {
    /* There is an open bug on the chromecast, transitions are buggy and sometimes are not triggered.
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    */
    display: none;
}

.hide {
    display: none !important;
}

#waiting-container-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#waiting-container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 18px 32px;
}

#waiting-container {
    background-color: rgba(15, 15,15, .82);
}

.waitingContent {
    position: fixed;
    top: 50%;
    right: 0;
    bottom: auto;
    left: 0;
    height: 415px;
    margin-top: -207px;
    text-align: center;
}

#waiting-container h1, #waiting-container h2 {
    margin: 25px 0;
}

#waiting-container h1 {
    font-size: 60px;
    font-weight: 300;
}

#waiting-container h2, .error-container h2 {
    font-size: 30px;
    font-weight: 300;
}

#waiting-container .logo {
    height: 200px;
    margin: 0 auto;
    width: auto;
    display: block;
}

.waiting > #waiting-container-backdrop,
.waiting > #waiting-container,
.details #waiting-container-backdrop {
    /*opacity: 1;*/
    display: initial;
}

cast-media-player {
    --spinner-image: url("img/spinner.png");
    --logo-image: url(' ');
    --splash-image: url(' ');
}

/* 
cast-media-player {
    --spinner-image: url("img/spinner.png");
    --logo-background: top 50%;
    --logo-size: 200px;
    --logo-image: url("img/logo.png");
}

cast-media-player:after {
    content: "Ready to cast";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    opacity: 0.5;
  } */