name: Lint

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    lint:
        name: Lint TS and CSS
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - name: Setup node env
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
              with:
                  node-version: 20

            - name: Install dependencies
              run: npm ci --no-audit

            - name: Build for production
              run: npm run build

            - name: Run ESLint
              run: npm run lint
